body{
	width:70%;
	margin: 2em auto;
}

.header, .footer, .content { 
	margin: 1em auto;
	border: 0.01em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #f7f7f7;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
}

.header, .footer{ 
	text-align: center;
}

.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f58; }
.inf { background-color: #1f1; }
.res { background-color: #ff2; }